<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'planttracker/NewUser.css' %}">
</head>

<body>
    <div class="header">
        <a href="#" class="logo">Plant Tracker</a>
        <div class="header-right">
            <a class="active" href="#home">Explore</a>
            <a class="active" href="#">My Collection</a>
            <a class="active" href="{% url 'login' %}">Sign in</a>
        </div>
    </div>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            </div>
        </div>


        <div class="right">
            <h5>Create Your Account!</h5>
            <div class="inputs">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
  </form>
            </div>
        </div>

    </div>
    <!-- partial -->

</body>

</html>