<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="PlantHolder.css">
</head>
<div class="row">
    <div class="column">
        <button class="button">Monstera</button>
        <button class="addbutton">Add to Collection</button>
        <img class="imageset" src="https://watchandlearn.scholastic.com/content/dam/classroom-magazines/watchandlearn/videos/animals-and-plants/plants/what-are-plants-/What-Are-Plants.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
        <button class="button">Monstera</button>
        <button class="addbutton">Add to Collection</button>
        <img class="imageset" src="https://watchandlearn.scholastic.com/content/dam/classroom-magazines/watchandlearn/videos/animals-and-plants/plants/what-are-plants-/What-Are-Plants.jpg" alt="Snow" style="width:100%">
    </div>
    <div class="column">
        <button class="button">Monstera</button>
        <button class="addbutton">Add to Collection</button>
        <img class="imageset" src="https://watchandlearn.scholastic.com/content/dam/classroom-magazines/watchandlearn/videos/animals-and-plants/plants/what-are-plants-/What-Are-Plants.jpg" alt="Snow" style="width:100%">
    </div>
</div>