<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'planttracker/login.css' %}">
</head>

<body>
    <div class="header">
        <a href="#" class="logo">Plant Tracker</a>
        <div class="header-right">
            <a class="active" href="#home">Explore</a>
            <a class="active" href="#">My Collection</a>
            <a class="active" href="{% url 'login' %}">Sign in</a>
        </div>
    </div>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
            </div>
        </div>


        <div class="right">
            <h5>Welcome to Plant Tracker!</h5>
            <p>Don't have an account? <a href="{% url 'NewUser' %}">Create Your Account</a></p>
            <div class="inputs">
                <input type="text" placeholder="Email">
                <br>
                <input type="password" placeholder="Password">
            </div>

            <br><br>

            <div class="remember-me--forget-password">
                <!-- Angular -->
                <label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
                <p>forget password?</p>
            </div>

            <br>
            <button>Login</button>
        </div>

    </div>
    <!-- partial -->

</body>

</html>